.footer{
   
    display: flex;
    justify-content: space-between;
    padding:  10px 20px ;

    p{
        font-weight: 400;
    }

    
    bottom: 0;
   
}


.logo{
    display: flex;
    gap: 10px;
    justify-content: center;
        align-items: center;

    img{
        height: 30px;
        object-fit: cover;
    }
    span{
        font-weight: bold;
        text-decoration: none;
    }
}
